<header mat-dialog-title class="dialog-title">
    <h1>File Mover Express</h1>
    <div class="spacer"></div>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</header>

<main mat-dialog-content>
    <p>
        Welcome to File Mover Express.
        In this application, you can transfer files and folders by dragging and dropping between your Local file system and your S3 bucket.
        You can use the Jobs tab to monitor your jobs, the Logs tab for more information, and the Bucket Reports tab to track the bucket
        reports you’ve generated.
    </p>
    <p>
        To get started, select the “Create a Remote Configuration” button. If you have already configured your settings, you can immediately
        begin transferring files or explore other features to manage your data.
    </p>
</main>
