# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Git diff files
*.orig

# Output of the go coverage tool and coverage report, specifically when used with LiteIDE
*.out
coverage.html
coverage.txt

# Dependency directories (remove the comment below to include it)
vendor/

# IDE files
.idea/
*.iml

# Output folders for builds and testing data
dist/
tmp/
test-files/*
releases.html
_build/
build

# Misc OS Garbage
.DS_Store
._*

# Compiled protobuf files
*.pb.go
src/gui/proto/generated/proto/
gl-code-quality-report.json

node_modules/
