<button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon class="menu">menu</mat-icon>
</button>

<mat-menu id="settings" #settingsMenu="matMenu" class="settings" style="width: 400px;">
    <button mat-menu-item [matMenuTriggerFor]="supportMenu">Support</button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="openPreferences()">UI Preferences</button>
    <button mat-menu-item routerLink="/home/config" [disabled]="!connected || !allowUiConfiguration">Settings</button>
</mat-menu>

<mat-menu #supportMenu="matMenu">
    <button mat-menu-item (click)="generateSupportFile()" [disabled]="!connected">Generate Support File</button>
    <button mat-menu-item (click)="getSupport()">Get Support</button>
</mat-menu>
