<!-- TODO: can conditionally apply matMenuTriggerFor in Angular v17, improve this implementation after upgrade -->
@if (!disabled()) {
    <div [ngClass]="dropdownTrigger.menuOpen ? 'select-dropdown-field-focused' : 'select-dropdown-field'"
         [matMenuTriggerFor]="dropdownMenu"
         #dropdownTrigger="matMenuTrigger">
        <ng-container *ngTemplateOutlet="dropdownFieldContent; context: {menuOpen: dropdownTrigger.menuOpen}"></ng-container>
    </div>
}
@if (disabled()) {
    <div class="select-dropdown-field-disabled">
        <ng-container *ngTemplateOutlet="dropdownFieldContent"></ng-container>
    </div>
}

<ng-template #dropdownFieldContent let-menuOpen='menuOpen'>
    <div class="select-dropdown-field-content"
         [class.disabled-select-dropdown-field-content]="disabled()">
        @if (fieldLeadingIcon(); as leadingIcon) {
            <div
                    [ngClass]="leadingIcon.iconColor !== 'inherit' ? 'icon-color-' + leadingIcon.iconColor : ''"
                    class="icon-spacer">
                <mat-icon class="icon"
                          [class.outlined-icon]="leadingIcon.style === 'outlined'"
                          [color]="leadingIcon.iconThemePalette">
                    {{ leadingIcon.icon }}
                </mat-icon>
            </div>
        } @else {
            @if (selectedField().leadingIcon; as leadingIcon) {
                <div
                        [ngClass]="leadingIcon.iconColor !== 'inherit' ? 'icon-color-' + leadingIcon.iconColor : ''"
                        class="icon-spacer">
                    <mat-icon class="icon"
                              [class.outlined-icon]="leadingIcon.style === 'outlined'"
                              [color]="leadingIcon.iconThemePalette">
                        {{ leadingIcon.icon }}
                    </mat-icon>
                </div>
            }
        }
        <div class="select-dropdown-field-text">
            {{ this.selectedField().text }}
        </div>
    </div>
    <div [ngClass]="menuOpen ? 'select-dropdown-field-arrow-focused' : 'select-dropdown-field-arrow'"
         [class.select-dropdown-field-arrow-disabled]="disabled()">
        <mat-icon>arrow_drop_down</mat-icon>
    </div>
</ng-template>


<mat-menu #dropdownMenu="matMenu" class="dropdown-menu">
    @if (dropdownItems(); as items) {
        @for (dropdownItem of items; track dropdownItem.id; let rowIndex = $index) {
            <div [matTooltip]="dropdownItem.tooltipText ? dropdownItem.tooltipText : ''" matTooltipPosition="right">
                <!-- Divider -->
                @if (rowIndex !== 0 && (dropdownItem.type === 'section-header' || (dropdownItem.type === 'item' && items[rowIndex - 1].type === 'section-item'))) {
                    <hr class="section-divider">
                } @else {
                    @if (rowIndex !== 0) {
                        <hr class="row-divider">
                    }
                }
                <!-- Row content -->
                <div [ngClass]="dropdownItem.itemClickHandler ? 'clickable-dropdown-row' : 'dropdown-row'"
                     [class.section-header]="dropdownItem.type === 'section-header'"
                     [class.item]="dropdownItem.type !== 'section-header'">
                    <div class="row-text-wrapper"
                         (click)="handleRowClick($event, dropdownItem)"
                         (keydown.enter)="handleRowClick($event, dropdownItem)"
                    >
                        @if (dropdownItem.statusIcon; as statusIcon) {
                            <div class="icon-spacer"
                                 [ngClass]="statusIcon.iconColor !== 'inherit' ? 'icon-color-' + statusIcon.iconColor : ''">
                                <mat-icon class="icon"
                                          [class.outlined-icon]="statusIcon.style === 'outlined'"
                                          [color]="statusIcon.iconThemePalette">
                                    {{ statusIcon.icon }}
                                </mat-icon>
                            </div>
                        } @else if (dropdownItem.type === 'section-item' || dropdownItem.text === selectedField().text) {
                            <div class="icon-spacer">
                                @if (dropdownItem.text === selectedField().text) {
                                    <mat-icon class="icon">{{ CHECK_ICON.icon }}</mat-icon>
                                }
                            </div>
                        }
                        @if (dropdownItem.leadingIcon) {
                            <div class="icon-spacer"
                                 [ngClass]="dropdownItem.leadingIcon.iconColor !== 'inherit' ? 'icon-color-' + dropdownItem.leadingIcon.iconColor : ''">
                                <mat-icon class="icon"
                                          [class.outlined-icon]="dropdownItem.leadingIcon.style === 'outlined'"
                                          [color]="dropdownItem.leadingIcon.iconThemePalette">
                                    {{ dropdownItem.leadingIcon.icon }}
                                </mat-icon>
                            </div>
                        }
                        <div class="row-text">
                            {{ dropdownItem.text }}
                        </div>
                    </div>
                    @if (dropdownItem.actionIcons?.length) {
                        <div class="row-action-icon-wrapper">
                            @for (actionIcon of dropdownItem.actionIcons; track actionIcon.id) {
                                <div (click)="handleIconClick($event, actionIcon, dropdownItem)" class="icon-spacer">
                                    @if (actionIcon.type === 'action-icon') {
                                        <mat-icon
                                                class="icon action-icon"
                                                [class.outlined-icon]="actionIcon.dropdownIcon.style === 'outlined'"
                                                [ngClass]="actionIcon.dropdownIcon.iconColor !== 'inherit' ? 'icon-color-' + actionIcon.dropdownIcon.iconColor : ''"
                                                [color]="actionIcon.dropdownIcon.iconThemePalette"
                                                [matTooltip]="actionIcon.dropdownIcon.tooltipText ? actionIcon.dropdownIcon.tooltipText : ''"
                                                matTooltipPosition="right">
                                            {{ actionIcon.dropdownIcon.icon }}
                                        </mat-icon>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    }
</mat-menu>
