<div class="jobs-table-wrapper">
    <div class="inputs-section">
        <div class="filter" [formGroup]="filterForm">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Filter</mat-label>
                <mat-select [multiple]="true" formControlName="status">
                    @for (itm of jobStates | keyvalue; track itm) {
                        <mat-option [value]="itm.value">{{ itm.key | pascalCaseToSpaces }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <div class="spacer"></div>
            <div class="stats">
                <div class="icons">
                    <mat-icon>arrow_downward</mat-icon>
                </div>
                <div>
                    <span class="stat-name">Active Jobs: {{ downloadTransferStats.activeJobs }}</span>
                    <div>
                        {{ downloadTransferStats.activeBytes | formatBytes : 0 : "" : "0b" }}
                    </div>
                </div>
                <div>
                    <span class="stat-name">Avg. Speed</span>
                    <div>
                        {{ downloadTransferStats.averageSpeed | formatBytes : 0 : "/s" : "0b/s" }}
                    </div>
                </div>
                <div>
                    <span class="stat-name">Total Transferred</span>
                    <div>
                        {{ downloadTransferStats.totalBytesTransferred | formatBytes : 0 : "" : "0b" }}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="icons">
                    <mat-icon>arrow_upward</mat-icon>
                </div>
                <div>
                    <span class="stat-name">Active Jobs: {{ uploadTransferStats.activeJobs }}</span>
                    <div>
                        {{ uploadTransferStats.activeBytes | formatBytes : 0 : "" : "0b" }}
                    </div>
                </div>
                <div>
                    <span class="stat-name">Avg. Speed</span>
                    <div>
                        {{ uploadTransferStats.averageSpeed | formatBytes : 0 : "/s" : "0b/s" }}
                    </div>
                </div>
                <div>
                    <span class="stat-name">Total Transferred</span>
                    <div>
                        {{ uploadTransferStats.totalBytesTransferred | formatBytes : 0 : "" : "0b" }}
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    <div class="table-section">
        <div class="jobs-container">
            <table mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource">
                        <mat-icon class="icon">
                            {{ job.direction === TransferDirection.Download ? 'arrow_downward' : 'arrow_upward' }}
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource" class="nameType">
                        <!-- Disable this icon until we figure out a cleaner way to determine the proper icon
                        <mat-icon class="icon" *ngIf="objectType">folder</mat-icon>
                        <mat-icon *ngIf="!objectType">description</mat-icon>
                        -->
                        <span [matTooltip]="job.name"
                              [matTooltipDisabled]="job.name.length <= MAX_TABLE_STRING_LENGTH"
                              matTooltipPosition="right">
                            {{ job.name | textEllipses : MAX_TABLE_STRING_LENGTH }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="remoteConfiguration">
                    <th mat-header-cell *matHeaderCellDef> Remote Configuration</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource">
                        <span [matTooltip]="job.name"
                              [matTooltipDisabled]="job.transferProfile.length <= MAX_TABLE_STRING_LENGTH"
                              matTooltipPosition="right">
                          {{ job.transferProfile | textEllipses : MAX_TABLE_STRING_LENGTH }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource"> {{ job.totalBytes | formatBytes }}</td>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource"> {{ job | jobDuration }}</td>
                </ng-container>

                <ng-container matColumnDef="eta">
                    <th mat-header-cell *matHeaderCellDef> ETA</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource"> {{ job.eta }}</td>
                </ng-container>

                <ng-container matColumnDef="speed">
                    <th mat-header-cell *matHeaderCellDef> Speed</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource"> {{ job | jobSpeed }}</td>
                </ng-container>

                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef> Start Time</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource"> {{ job.timestampCreated | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progress</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource">
                        <div class="status-progress-bar" [ngClass]="[job | jobStatusClass]">
                            @if (job.status === jobStates.Checksumming) {
                                <mat-progress-bar
                                        mode="determinate"
                                        [value]="job.checksumProgress | jobsTableChecksumProgress">
                                </mat-progress-bar>
                                <div>
                                    {{ job.checksumProgress | jobsTableChecksumProgress }}%
                                </div>
                            } @else {
                                <mat-progress-bar mode="determinate" [value]="job.progress"></mat-progress-bar>
                                <div>
                                    {{ job.progress }}%
                                </div>
                            }
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource"
                        [ngClass]="[job | jobStatusClass]"> {{ job | jobStatus }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                    <td mat-cell *matCellDef="let job; dataSource: dataSource">
                        <button mat-icon-button [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{job}">
                            <mat-icon class="icon">keyboard_double_arrow_down</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    (dblclick)="jobDetails(row)"
                    [matTooltipShowDelay]="500"
                    matTooltip="Double click for details"
                    matTooltipPosition="above"
                >
                </tr>
            </table>
        </div>
    </div>
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-job="job">
        <button mat-menu-item (click)="jobDetails(job)">
            <mat-icon>info_outline</mat-icon>
            Job Details
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="renameJob(job)">
            <mat-icon>edit</mat-icon>
            Rename
        </button>
        @if (job.status === 'IN_PROGRESS') {
            <button mat-menu-item (click)="pauseJob(job)">
                <mat-icon>pause</mat-icon>
                Pause
            </button>
        }
        @if (job.status === 'PAUSED') {
            <button mat-menu-item (click)="resumeJob(job)">
                <mat-icon>play_arrow</mat-icon>
                Resume
            </button>
        }
        @if (job.status === 'IN_PROGRESS' || job.status === 'PAUSED') {
            <button mat-menu-item (click)="cancelJob(job)">
                <mat-icon class="material-icons-outlined">cancel_outline</mat-icon>
                Cancel
            </button>
        }
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="exportJob(job)">
            <mat-icon>download</mat-icon>
            Generate report
        </button>
        @if (job.status === 'CANCELLED' || job.status === 'COMPLETED' || job.status === 'ERROR') {
            <button mat-menu-item (click)="resubmitJob(job)">
                <mat-icon>restart_alt</mat-icon>
                Resubmit
            </button>
        }
        <button mat-menu-item (click)="clearJobs()">
            <mat-icon color="warn">check_circle_outline</mat-icon>
            Clear All Completed Jobs
        </button>
    </ng-template>
</mat-menu>
