@use "../../../../styles/variables";

$breadcrumb-selected-color: variables.$blue-400;
$last-breadcrumb-color: variables.$grey-500;
$arrow-icon-color: variables.$grey-500;

.breadcrumb-group {
    height: 18px;
    width: 100%;
    font-size: 11px;
    line-height: 18px;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

.breadcrumb-basic {
    display: inline-block;
    max-width: 13%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.breadcrumb-single-clickable {
    @extend .breadcrumb-basic;
    color: variables.$active;
    text-decoration: none;

    &:hover {
        color: $breadcrumb-selected-color;
        text-decoration: underline;
        cursor: pointer;
    }
}

.last-breadcrumb {
    @extend .breadcrumb-basic;
    color: $last-breadcrumb-color;
    cursor: default;
}

.arrow-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 18px;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    color: $arrow-icon-color;
    margin-left: 3px;
    margin-right: 3px;
}
